/*
    Breakpoints based off bootstrap
*/
@mixin screen($size) {
    $xs: "(max-width: 575px)";
    $sm: "(max-width: 768px)";
    $md: "(max-width: 991px)";
    $lg: "(max-width: 1199px)";
  
    @if $size==lg {
      @media screen and #{$lg} {
        @content;
      }
    }
  
    @else if $size==md {
      @media screen and #{$md} {
        @content;
      }
    }
  
    @else if $size==sm {
      @media screen and #{$sm} {
        @content;
      }
    }
  
    @else if $size==xs {
      @media screen and #{$xs} {
        @content;
      }
    }
  
    @else {
      @media screen and #{$size} {
        @content;
      }
    }
  }
  
  // IPAD PRO BREAKPOINT @media screen and (max-width: 1199px) and (max-height: 1366px) and (orientation: portrait) {}
  
/* spacings (padding/margin) */
/*
  usage is like a normal class
  ex. class="mt-4" for margin-top: 4rem;
*/
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  4: (
    x:   ($spacer-x * 4),
    y:   ($spacer-y * 4)
  ),
  5: (
    x:   ($spacer-x * 5),
    y:   ($spacer-y * 5)
  ),
  6: (
    x:   ($spacer-x * 6),
    y:   ($spacer-y * 6)
  )
);

@mixin spacing() {
    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $lengths in $spacers {
        $length-x:   map-get($lengths, x);
        $length-y:   map-get($lengths, y);

        .#{$abbrev}-#{$size} { #{$prop}: $length-y $length-x; } // a = All sides
        .#{$abbrev}t-#{$size} { #{$prop}-top:    $length-y }
        .#{$abbrev}r-#{$size} { #{$prop}-right:  $length-x }
        .#{$abbrev}b-#{$size} { #{$prop}-bottom: $length-y }
        .#{$abbrev}l-#{$size} { #{$prop}-left:   $length-x }
      }
    }
}

@include spacing;
